{{!-- <main>

    <div class="card">
        <div class="card-body">
            <div class="text-muted text-center text-uppercase"> Text woRLd</div>
            <div class="text-muted text-center text-lowercase"> Text WORLD</div>
            <div class="text-muted text-center text-capitalize"> text world there </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-outline-secondary ">
                <span class="text-uppercase"> Button Primary</span>
                <h1>test</h1>
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-danger btn-sm">My button del</button>
            <button class="btn btn-outline-info btn-lg">Додати</button>
        </div>
    </div>


</main> --}}

{{!-- <main>
    <div class="row" gy-5>

        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #15435</h5>
                    <p class="text-bg-secondary">Usb хаб с 12</p>
                    <a href="/summary" class="btn btn-primary">Open</a>

                </div>
            </div>
        </section>

        <section class="col-6">
            <div class="card text-bg-primary">
                <div class="card-header">
                    <div>Menu</div>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-bg-dark">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item text-bg-success">
                        <a href="#" class="btn btn-link">Summery page</a>
                    </li>
                    <li class="list-group-item text-bg-danger">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-dark btn-sm"> Update List</button>
                </div>
            </div>

        </section>

        <section class="col-9">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Kay</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Rom</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Tim</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Tim</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Tim</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Tim</td>
                        <td>38</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <div class="col-12">
                <div class="row g-2">
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center text-uppercase">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <div>This is content of our box</div>
                                <button class="btn  btn-light ">Click!</button>
                            </div>
                            <div class="card-footer text-center text-uppercase">Footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center text-uppercase">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <div>This is content of our box</div>
                                <button class="btn  btn-light ">Click!</button>
                            </div>
                            <div class="card-footer text-center text-uppercase">Footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center text-uppercase">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <div>This is content of our box</div>
                                <button class="btn  btn-light ">Click!</button>
                            </div>
                            <div class="card-footer text-center text-uppercase">Footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center text-uppercase">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <div>This is content of our box</div>
                                <button class="btn  btn-light ">Click!</button>
                            </div>
                            <div class="card-footer text-center text-uppercase">Footer</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

</main> --}}

<main class="p-5">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Catalog</a>
                </div>
                <div class="nav-item ">
                    <a href="#" class="nav-link ">Shop list</a>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-5 pe-5">
                <div class="card">
                    <div class="pt-4 pb-3 px-4">
                        <div class="nav flex-column">
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="/summary" class="nav-link">Home page</a>
                                </div>

                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link disabled">Bootstrap</a>
                                </div>

                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="/skills" class="nav-link ">FAQ page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrump">
                            <li class="breadcrump-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrump-item">
                                <a href="#">PC та Ноутбук</a>
                            </li>
                            <li class="breadcrump-item">
                                <a href="#">MacBook</a>
                            </li>
                        </ol>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mb-3"> Click me</button>
                        <div class="alert alert-dark">
                            <h6 class="mb-0"> hello world! <span
                                    class="badge text-bg-warning rounded-pill text-uppercase">
                                    Top shop</span>
                            </h6>

                            <p class="m-0">
                                This
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    // ================================================================

    //
    <div class="col-4 mb-5">
        <label class="form-label">Ім’я</label>
        <input placeholder="Іван" class="form-control form-control-lg ">
        <div class="form-text ">Введіть Ім’я
        </div>
    </div>

    <div>
        <hr>
    </div>

    <div class="col-12 mb-5">
        <div class="form-label">Select name </div>

        <div class="form-check">
            <label class="form-check-label"> Niki</label>
            <input name="name" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label"> Niki</label>
            <input name="name" type="checkbox" class="form-check-input">
        </div>

        <br>
        <div class="form-label">Choice </div>
        <div class="form-check">
            <label class="form-check-label"> Radio</label>
            <input name="name" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label"> Radio</label>
            <input name="name" type="radio" class="form-check-input">
        </div>

        <br>
        <div class="form-label">Want send </div>
        <div class="form-check form-switch">
            <label class="form-check-label"> Yes</label>
            <input name="name" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label"> No</label>
            <input name="name" type="checkbox" class="form-check-input">
        </div>
    </div>


    <div>
        <h1 class="mb-5"> Корзина <img src="/svg/basket-fill.svg"> </h1>

    </div>

    {{> title data="My title"}}

    <h1 style="color:yellow; background: black">This is text</h1>

    <div id="mytag">Test text js</div>

</main>