<main>

    <div class="card">
        <div class="card-body">
            <div class="text-muted text-center text-uppercase"> Text woRLd</div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-outline-secondary ">
                <span class="text-uppercase"> Button Primary</span>
                <h1>test</h1>
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-danger btn-sm">My button del</button>
            <button class="btn btn-outline-info btn-lg">Додати</button>
        </div>
    </div>


</main>