{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main class="p-5">

    <h2 class="text-center mt-3 mb-3">Список сторінок</h2>
    <p> 'Візуалізація даних
        Кажуть, що краще один раз побачити, ніж сто разів почути. Сьогодні, в епоху великих даних, коли компанії
        тонуть в інформації з різних локальних і хмарних джерел, ця приказка актуальна як ніколи.

        Аналіз інформації для відокремлення зерен від полови потребує все більше зусиль. Візуальні засоби
        прискорюють та спрощують цей процес, а також дозволяють миттєво побачити найважливіше. Крім того, більшість
        людей сприймають візуальні образи краще, ніж текст: 90% інформації, що надходить у мозок, - це зображення,
        тому він обробляє їх у 60 000 разів швидше, ніж текст1.'</p>

    <div class="row">
        <div class="card col-3 p-3 me-3">

            {{#each links}}
            <a href="{{href}}" class="btn btn-primary mt-2 text-capitalize">{{name}} </a>
            {{/each}}
        </div>

    </div>

</main>

{{!-- <div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-warning ">Купити</button>
</div> --}}


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}