{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main class="p-5">

    <h2 class="text-center mt-3 mb-3">Список сторінок</h2>
    <p> 'Візуалізація даних
        Кажуть, що краще один раз побачити, ніж сто разів почути. Сьогодні, в епоху великих даних, коли компанії
        тонуть в інформації з різних локальних і хмарних джерел, ця приказка актуальна як ніколи.

        Аналіз інформації для відокремлення зерен від полови потребує все більше зусиль. Візуальні засоби
        прискорюють та спрощують цей процес, а також дозволяють миттєво побачити найважливіше. Крім того, більшість
        людей сприймають візуальні образи краще, ніж текст: 90% інформації, що надходить у мозок, - це зображення,
        тому він обробляє їх у 60 000 разів швидше, ніж текст1.'</p>

    <div class="row">
        <div class="card col-3 p-3 me-3">
            <div class="list mb-2">
                <div><a href="/summary" class="btn btn-primary text-capitalize mt-2">summary</a></div>
                <div><a href="/skills" class="btn btn-primary text-capitalize mt-2">skills</a></div>
                <div><a href="/work" class="btn btn-primary text-capitalize mt-2">work</a> </div>
                <div><a href="/education" class="btn btn-primary text-capitalize mt-2">education</a></div>
                <div><a href="/person" class="btn btn-primary text-capitalize mt-2">person</a></div>
                <div><a href="/program" class="btn btn-primary text-capitalize mt-2">program</a></div>
            </div>
        </div>
        <div class="card col-3 p-3">
            <div class="list mb-2">
                <div><a href="/shopcart" class="btn btn-outline-primary text-capitalize mt-2">shopcart</a></div>
                <div><a href="/shophome" class="btn btn-outline-primary text-capitalize mt-2">shophome</a></div>
                <div><a href="/shopnews" class="btn btn-outline-primary text-capitalize mt-2">shopnews</a></div>
                <div><a href="/shoporder" class="btn btn-outline-primary text-capitalize mt-2">shoporder</a></div>
                <div><a href="/shopproduct" class="btn btn-outline-primary text-capitalize mt-2">shopproduct</a></div>
                <div><a href="/shopprofile" class="btn btn-outline-primary text-capitalize mt-2">shopprofile</a></div>
                <div><a href="/shopreview" class="btn btn-outline-primary text-capitalize mt-2">shopreview</a></div>
            </div>
        </div>
    </div>
    </div>

</main>

{{!-- <div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-warning ">Купити</button>
</div> --}}


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}