<div class="row">
    {{#each cards}}
    <div class="col-3 ">
        <div class="alert text-bg-dark">
            <ul class="list-group">
                <div class="nav nav-tabs ">
                    <div class="card-title mb-2"> {{title}}
                        {{#if isTop }}
                        <div class="badge text-bg-success rounded-pill">
                            Top
                        </div>
                        {{/if}}
                        {{#if idNew}}
                        <div class="badge text-bg-danger rounded-pill">
                            New
                        </div>{{/if}}
                    </div>
                </div>

                <p>{{description}} </p>

            </ul>
        </div>
    </div>
    {{/each}}
</div>