<div class="row p-5">
    <div class="col-12 mb-5 ">
        <div class="my-4">
            {{#with navigation}}
            <div class="card">
                <div class="nav-link active ">
                    {{#each links}}
                    <a href="{{href}}" class="text-link mx-1"> {{text}} </a>
                    {{/each}}
                    <button class="btn btn-disabled mb-1"> Disabled </button>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</div>